@inherits LayoutComponentBase
@using TechiesStoreFront.Client.Pages.Modals

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public IModalService Modal { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Modal.Show<CurrentPromoModal>("Current Promotion!");
    }
}
