@page "/"
@inject Blazored.LocalStorage.ILocalStorageService ProtectedLocalStore
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Welcome To Techies!</h1>
            <p>Our Mission is to provide high quality gadgets for tech-lovers everywhere!</p>
            <img src="/images/headerLogoBig.jpg" />
        </div>
    </div>

    <div class="card text-center">
        <div class="card-header" style="background-color: rgb(25, 86, 180); color:white;">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Check out our new Gaming products!</h5>
            <img src="/images/gamingBig.jpg" />
            <br/>
            <p class="card-text">We recently added gaming products our store! Check them out and let us know what you think!</p>
            <a href="product/category/4" class="btn btn-primary">Click here</a>
        </div>
    </div>

    <footer class="bg-light text-center text-lg-start" style="background-color: rgb(25, 86, 180);">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(60, 59, 57);">
            © 2022 Copyright:
            <a class="text-light" href="tbalbacete.github.io" target="_blank">tbalbacete.github.io</a> |
            <a class="text-light" href="#">Take our product survey here</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>



@code{
}

